* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #0D325A;
    height: 400px;
}
.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: red;
}
.header_top {
    height: 80px;
    background-color: yellow;
}
.left {
    width: 60%;
    height: 80px;
    background-color: green;
    float: left;
}
.right {
    width: 40%;
    height: 80px;
    background-color: grey;
    float: right;
}
